.site-contacts-popup
{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99990;
	background: rgba(0, 0, 0, 0.8);
}

.site-contacts-popup.site-contacts-inactive
{
	display: none;
}

.site-contacts-popup-content
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -120px 0px 0px -250px;
	width: 480px;
	min-height: 100px;
	max-width: 100%;
	background: #ffffff;
	padding: 40px;
}

.site-contacts-popup-button
{
	margin: 2.5em 0 0 0;
}

.site-contacts-popup-close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 32px;
	height: 32px;
}

.site-contacts-popup-close a {
	width: 32px;
	height: 32px;
	display: block;
	line-height: 32px;
	font-size: 26px;
	box-shadow: none;
	text-decoration: none;
}

.site-contacts-popup-close a:hover {
	box-shadow: none;
	text-decoration: none;
}

.site-contacts-popup-title {
	font-weight: bold;
	font-size: 2em;
	margin: 0 0 1.1em 0;
}

.site-contacts-popup-description {
	font-weight: normal;
	font-size: 1.1em;
	margin: 0 0 0.5em 0;
}

.site-contacts-popup .site-contacts-select {
	width: 100%;
	margin: 0;
}

@media (max-width: 639px) {

.site-contacts-popup-content
{
	position: absolute;
	top: 50%;
	left: 10px;
	right: 10px;
	margin: -100px 0px 0px 0px;
	width: auto;
	padding: 20px;
}

}
